<div class="page__wallet-background">
	<div class="page">

		<header class="wallet-page__header">
			{{> button-settings}}

			<div class="wallet-page__title">Main wallet</div>

			{{> button-notifications}}
		</header>

		<div class="wallet-page__main">

			{{#with data}}
			<div class="wallet-page__balance">{{balance}}</div>
			{{/with}}

			<div class="wallet-page__operations">
				{{> button-receive}}

				{{> button-send}}
			</div>
		</div>

		<div class="wallet-page__transactions-list">
			{{#with data}}
			{{#each transactions}}

			{{> transaction-notification text=this.text time=this.date type=this.type amount=this.amount }}

			{{/each}}
			{{/with}}
		</div>


	</div>
</div>