<div class="field--num__wrapper">
	<div class="field">
		<label for="{{name}}" class="field__label">{{label}}</label>

		<input oninput="{{action}}(this.name, this.value)" type="number" class="field__input-num" name="{{name}}">

	</div>
</div>