<div class="button-operations__block">
	<div class="button-operation" onclick="receiveButton.locate();">
		<img src="/svg/button-receive.svg" alt="" width="30" height="30">
	</div>
	<label>Receive</label>
</div>