<div class="card">
	<img src="" class="card__image" alt="" width="40" height="40">
	<div class="card__data">
		<div class="card__title">{{text}}</div>
		<div class="card__details">
			<div class="card__time">{{time}} minutes ago</div>
			<div class="card__type">{{type}}</div>
		</div>
	</div>
</div>