<div class="button-operations__block">
	<div class="button-operation" onclick="backButton.back();">
		<img src="/svg/button-send.svg" alt="" width="30" height="30">
	</div>
	<label>Send</label>
</div>