<div class="page">
	<header>
		{{> back-button}}
	</header>

	<form class="page__section">
		<h1 class="page__header">
			<div class="page__title">Recover password</div>
			<div class="page__subtitle">Write the code you received</div>
		</h1>
		<div class="form">
			<div class="form__item">
				{{> field action="recoveryConfirmForm.change" label="Code" type="number" placeholder="Your code"
				name="code"}}
				<span name="code" class="form__error">Mistake</span>
			</div>


			<div class="form__item ">
				{{> field-password action="recoveryConfirmForm.change" label="New password" type="password"
				placeholder="Your password" name="password"
				}}
				<span name="password" class="form__error">Mistake</span>
			</div>


		</div>

		<button onclick="recoveryConfirmForm.submit()" class="button button--disabled" type="button">Restore
			password</button>


		<span class="alert alert--disabled ">
			Required fields are missing
		</span>
	</form>
</div>