<div class="welcome-page">
	<div class="welcome-page__background">
		<div class="welcome-page__content">
			<h1 class="title">Hello!</h1>
			<div class="subtitle">Welcome to bank app</div>
		</div>
		<div class="button__section">
			<a href="/signup" class="button">
				Sign Up
			</a>
			<a href="/signin" class="button button--white">
				Sign In
			</a>
		</div>
	</div>
</div>